In [2]:
import configparser
from datetime import datetime, timedelta
import os
import sys
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format, dayofweek
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql.types import DateType,StringType
from pyspark.sql import functions as F
from pyspark.sql.functions import avg
import pandas as pd

In [3]:
test_spark =  SparkSession.builder.getOrCreate()

In [4]:
test_df = test_spark.read.parquet('part-00020-d836c836-ce9b-4d71-86c9-8f865f4fd31d.c000.snappy.parquet')

In [5]:
test_df.show()

+--------------+----------+------------------+--------------------+-------+--------+---------+------------+------------+
|temperature_id|      date|          avg_temp|avg_temp_uncertainty|   city|latitude|longitude|airport_code|     city_id|
+--------------+----------+------------------+--------------------+-------+--------+---------+------------+------------+
|  171798691840|1820-01-01|2.1010000000000004|               3.217|Abilene|  32.95N|  100.53W|        KK78|120259084288|
|  171798691841|1820-01-01|2.1010000000000004|               3.217|Abilene|  32.95N|  100.53W|        TX02|120259084288|
|  171798691842|1820-01-01|2.1010000000000004|               3.217|Abilene|  32.95N|  100.53W|        TX00|120259084288|
|  171798691843|1820-01-01|2.1010000000000004|               3.217|Abilene|  32.95N|  100.53W|        TA38|120259084288|
|  171798691844|1820-01-01|2.1010000000000004|               3.217|Abilene|  32.95N|  100.53W|        KDYS|120259084288|
|  171798691845|1820-01-01|2.1010000000000004|               3.217|Abilene|  32.95N|  100.53W|        KABI|120259084288|
|  171798691846|1820-01-01|2.1010000000000004|               3.217|Abilene|  32.95N|  100.53W|        82TS|120259084288|
|  171798691847|1820-01-01|2.1010000000000004|               3.217|Abilene|  32.95N|  100.53W|        6TE2|120259084288|
|  171798691848|1820-01-01|2.1010000000000004|               3.217|Abilene|  32.95N|  100.53W|        4TX1|120259084288|
|  171798691849|1820-01-01|2.1010000000000004|               3.217|Abilene|  32.95N|  100.53W|        35TX|120259084288|
+--------------+----------+------------------+--------------------+-------+--------+---------+------------+------------+