# Notebook for testing created table

## Import and configure what are needed

In [2]:
import configparser

config = configparser.ConfigParser()
config.read('../dwh.cfg')
%reload_ext sql

HOST = config.get('CLUSTER', 'HOST')
DB_NAME =  config.get('CLUSTER', 'DB_NAME')
DB_USER = config.get('CLUSTER', 'DB_USER')
DB_PASSWORD = config.get('CLUSTER', 'DB_PASSWORD')
DB_PORT = config.get('CLUSTER', 'DB_PORT')

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)

print(conn_string)
%sql $conn_string

postgresql://hieule:12345679Abc@udacity-cluster.c8ozakddkam6.us-west-2.redshift.amazonaws.com:5439/sparkifydb

## Query some tables

In [3]:
%sql SELECT COUNT(*) FROM songs;

 * postgresql://hieule:***@udacity-cluster.c8ozakddkam6.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(14896,)]

In [4]:
%sql SELECT * FROM songplays LIMIT 10;

 * postgresql://hieule:***@udacity-cluster.c8ozakddkam6.us-west-2.redshift.amazonaws.com:5439/sparkifydb
10 rows affected.

[(4, datetime.datetime(2018, 11, 29, 21, 0, 3), '80', 'paid', 'SOXQYSC12A6310E908', 'AR0L04E1187B9AE90C', 1065, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (20, datetime.datetime(2018, 11, 21, 21, 17, 19), '49', 'paid', 'SOSYMSX12A6310DFE2', 'ARH6W4X1187B99274F', 816, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (36, datetime.datetime(2018, 11, 29, 1, 38, 30), '24', 'paid', 'SOTNHIP12AB0183131', 'ARD46C811C8A414F3F', 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (52, datetime.datetime(2018, 11, 15, 14, 31, 8), '97', 'paid', 'SOVOZSC12A8C144E73', 'ART0ETO1187B9AB519', 605, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (68, datetime.datetime(2018, 11, 27, 18, 22, 58), '36', 'paid', 'SODFRAX12A8C13274B', 'ARP29T31187B98DD5F', 957, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (84, datetime.datetime(2018, 11, 28, 8, 9, 40), '58', 'paid', 'SOEHGER12A8AE47DB2', 'ART7Q0O1187B9A79FA', 887, 'Augusta-Richmond County, GA-SC', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (100, datetime.datetime(2018, 11, 6, 20, 59, 2), '97', 'paid', 'SOSCHDW12A8C130FD7', 'AR40GSU1187FB3AA01', 293, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (116, datetime.datetime(2018, 11, 19, 16, 26, 36), '24', 'paid', 'SORKDUM12A6D4FA813', 'ARYKVZI1187B9AE8A9', 723, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (132, datetime.datetime(2018, 11, 25, 6, 6, 17), '49', 'paid', 'SONHWUN12AC468C014', 'ARJIG5P1187B98D9DE', 916, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (148, datetime.datetime(2018, 11, 30, 7, 47, 5), '49', 'paid', 'SOKMDJJ12AB0181C64', 'AR6M65W1187FB3611E', 1079, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [5]:
%sql SELECT * FROM songs LIMIT 10;

 * postgresql://hieule:***@udacity-cluster.c8ozakddkam6.us-west-2.redshift.amazonaws.com:5439/sparkifydb
10 rows affected.

[('SOCKYOP12A58A7C4EC', 'Drama', 'AROJWW21187FB574E6', 2003, 195),
 ('SOGSCWO12AB0182A60', 'Tell Me This', 'AR6OL631187FB49241', 2008, 233),
 ('SOFSKON12A8C13B3B5', 'Illuminate', 'ARD5K161187B9AC784', 2001, 327),
 ('SOBZBMT12A8C137F86', 'Vital Vessals Vindicate', 'AR0DGAV1187FB412FA', 0, 429),
 ('SOGAJHS12A8C13C37B', 'How to Survive In', 'AR4SDA71187B9A7C97', 2006, 194),
 ('SODORIU12A6D4F84BB', 'Lifeline', 'ARYAUMZ1187B9A2A40', 1983, 199),
 ('SOVNEJL12A58A78E2A', "Ain't No Stoppin'", 'ARPT5H31187B98C277', 1994, 258),
 ('SOIZUUI12A8C139122', 'Gueixa', 'ARWAVTK1187B98CE66', 2000, 240),
 ('SOFAMRP12AF72A069E', 'The Ballad Of Butter Beans', 'ARMI4NV1187B99D55D', 2008, 268),
 ('SOYNBJL12A58A7771A', 'Barracuda', 'ARB91LI1187B9B0D97', 2006, 231)]

In [6]:
%sql SELECT * FROM time LIMIT 10;

 * postgresql://hieule:***@udacity-cluster.c8ozakddkam6.us-west-2.redshift.amazonaws.com:5439/sparkifydb
10 rows affected.

[(datetime.datetime(2018, 11, 3, 1, 5, 23), 1, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 1, 16, 15), 1, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 15, 36, 8), 15, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 16, 4, 36), 16, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 16, 21, 41), 16, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 16, 36, 15), 16, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 16, 47, 3), 16, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 16, 58, 2), 16, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 17, 5, 39), 17, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 17, 13, 58), 17, 3, 44, 11, 2018, 6)]